#audioAlbumArtPreview {
  align-items: center;
  /* background-color: #f2f2f2;
  border-color: #cfcfcf;
  border-style: dashed;
  border-width: 2px;
  color: #989898; */
  cursor: pointer;
  /* display: flex;
  font-size: 14px;
  height: 73px;
  line-height: 18px;
  margin-left: 7%;
  margin-top:8%;
  text-align: center;
  width: 86%; */
  text-align: center;
}

#audioAlbumArtPreview:hover #removeAlbumArtImage {
  opacity: 1;
}

#albumArtPreview {
  height: 85px;
  margin-bottom: 0px;
}

#audioDescription {
  border: none;
  box-shadow: none;
  display: none;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  min-height: 80px;
  outline: none;
  word-wrap: break-word;
}

#audioDescription:empty {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */ 
}

#audioDescription:empty::before {
  color: #a2a2a2;
  content: 'Add a description, if you like';
}

#audioDescriptionDiv {
  display:inline;
}

/* hide audio file <input> element */
#audioFileInput {
  display: none;
}

#audioLocalFileIcon {
  background-color: white;
  border: none;
  cursor: auto;
  padding-right: 0px;
}

#audioPlayerButton, .glyphicon.glyphicon-play, .glyphicon.glyphicon-pause {
  cursor: pointer;
  display: inline;
  font-size: 25px;
  margin-bottom: 5.1%; /* 30px; */
  margin-left: 22px; /* 30px; */
  margin-top: 29px; /* 29px; */
  position: absolute;
}

#audioPostPanelBody {
  padding: 0px;
}

#audioTag {
  border: none;
  box-shadow: none;
  display: none;
  font-size: 13px;
  margin-bottom: 4px;
  padding-bottom: 0px;
  padding-right: 19px;
  padding-left: 20px;
  padding-top: 0px;
  width: 100%;
}

#audioAlbumArtDiv {
  background-color: #f8f8f8;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.15);
  float: right;
  height: 87px;
  width: 14.6%;
}

#audioAlbumInput {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: transparent none repeat scroll 0 0;
  border-color: -moz-use-text-color -moz-use-text-color rgba(68, 68, 68, 0.07);
  border-style: none none solid;
  border-width: 0 0 1px;
  color: #222;
  display: inline;
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
  font-size: 13px;
  height: 25px;
  line-height: 25px;
  margin-left: 15%; /* 90px; */
  padding: 0px 45px 0px 2px;
  position: absolute;
  top: 51px; /* 23%; */
  width: 68%;
}

#audioAlbumLabel {
  color: #a2a2a2;
  font-family: Helvetica;
  font-size: 11px;
  font-style: italic;
  line-height: 25px;
  margin-right: 16.4%; /* 98px; */
  padding: 0 4px;
  position: absolute;
  right: 0;
  top: 51px; /* 23%; */
}

#audioArtistInput {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: transparent none repeat scroll 0 0;
  border-color: -moz-use-text-color -moz-use-text-color rgba(68, 68, 68, 0.07);
  border-style: none none solid;
  border-width: 0 0 1px;
  color: #222;
  display: inline;
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
  font-size: 13px;
  height: 25px;
  line-height: 25px;
  margin-left: 15%; /* 90px; */
  padding: 0px 45px 0px 2px;
  position: absolute;
  top: 27px; /* 12%; */
  width: 68%;
}

#audioArtistLabel {
  color: #a2a2a2;
  font-family: Helvetica;
  font-size: 11px;
  font-style: italic;
  line-height: 25px;
  margin-right: 16.4%; /* 98px; */
  padding: 0 4px;
  position: absolute;
  right: 0;
  top: 27px; /* 12%; */
}

#audioPostAlbum {
/* border:none;
font-size: 13px;
color: rgba(0, 0, 0, 0.73);
padding-left: 0px;
margin-left: 70px;
padding-right: 0px; */
  /* -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: transparent none repeat scroll 0 0;
  border: none; */
  color: rgba(0, 0, 0, 0.73);
  display: none;
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
  font-size: 13px;
  /* height: 25px; */
  line-height: 25px;
  margin-left: 70px;
  /* padding: 0px; */
  position: absolute;
  top: 66%; /* 60%; 51px;*/
  /* width: 68%; */
}

#audioPostAlbumArtDiv {
  background-color: #f8f8f8;
  border: none;
  float: right;
  height: 87px;
  width: 14.6%;
}

#audioPostAlbumArtDiv .img-responsive {
  height: 87px;
}

#audioPostArtist {
/* border:none;
font-size: 14px;
top: 30px;
color: rgba(0, 0, 0, 0.73);
padding-left: 0px;
margin-left: 70px;
padding-right: 0px; */
  /* -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: transparent none repeat scroll 0 0; */
  /* border: none; */
  color: rgba(0, 0, 0, 0.73);
  /* display: inline; */
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  /* height: 25px; */
  line-height: 25px;
  margin-left: 70px;
  /* padding: 0px; */
  position: absolute;
  top: 44%; /* 36%; 30px;*/
  /* width: 68%; */
}

#audioPostDefault {
  color: rgba(0, 0, 0, 0.73);
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 25px;
  margin-left: 70px;
  position: absolute;
  top: 35%; /* 35%; 29px;*/
}

#audioPostDesciptionTagPanelBody{
  display: block;
  position: relative;
}

.audioPostPlayerButton, #audioPostPlayerButton { 
  margin-bottom: 28px;
  margin-top: 29px;
  z-index: 1;
}

#audioPostPlayControl {
  background-color: #f8f8f8;
  border:1px solid;
  border-color: rgba(0, 0, 0, 0.15);
  float: left;
  position: relative;
  width:85.40%;
}

.audioPostProgressBar, #audioPostProgressBar {
	background-color: transparent;
	height: 85px;
	position: relative;
	z-index: 1;  
}

#audioPreviewControl {
  border:1px solid;
  border-color: rgba(0, 0, 0, 0.15);
  float: left;
  /* position: relative; */
  width:85.40%;
}

#audioPostTagDiv {
  font-size: 13px;
  margin-top: 15px;
}

#audioPostTrack {
/* border:none;
font-weight: bold;
font-size: 14px;
top: 10px;
color: rgba(0, 0, 0, 0.73);
padding-left: 0px;
margin-left: 70px;
padding-right: 0px; */
 /*  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: transparent none repeat scroll 0 0;
  border: none; */
  color: rgba(0, 0, 0, 0.73);
  /* display: inline; */
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
  /* height: 25px; */
  line-height: 25px;
  margin-left: 70px;
  /* padding: 0px; */
  position: absolute;
  top: 22%; /* 12%; 10px;*/
  /* width: 68%; */
}

#audioTrackInput {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: transparent none repeat scroll 0 0;
  border-color: -moz-use-text-color -moz-use-text-color rgba(68, 68, 68, 0.07);
  border-style: none none solid;
  border-width: 0 0 1px;
  color: #222;
  display: inline;
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: 700;
  height: 25px;
  line-height: 25px;
  margin-left: 15%; /* 90px; */
  padding: 0px 45px 0px 2px;
  position: absolute;
  top: 2px; /* 1%; */
  width: 68%;
}

#audioTrackLabel {
  color: #a2a2a2;
  font-family: Helvetica;
  font-size: 11px;
  font-style: italic;
  line-height: 25px;
  margin-right: 16.4%; /* 98px; */
  padding: 0 4px;
  position: absolute;
  right: 0;
  top: 2px; /* 1%; */
}

#audioUrl span {
  overflow: hidden;  
  white-space: nowrap;
}

#audioUrl span:empty::before {
  color: #a2a2a2;
  content: 'Add a caption, if you like';
}

#audioUrlGlyphiconPlus {
  color:#8f8f8f;
  cursor: pointer;
  font-size: 14px;
}

#audioUrlGlyphiconSearch {
  color: #8f8f8f;
  font-size: 14px;
}

#audioUrlInputGroup {
  margin-left:20px;
  margin-right:25px;
}

#audioUrlSearchIcon {
  background-color: white;
  border: none;
  cursor: auto;
  padding-left: 0px;
}

#audioUploadPostDropDown {
  margin-top: 8px;
  left: -26%;
  right: auto;
}

#audioUploadPostDropDown li > a {
  color: #444444;
}

#newAudioPostModalBody {
  border-bottom: 1px solid rgba(68, 68, 68, 0.07);
  padding: 0px;
}

/* new audio upload panel */
#newAudioUploadPanel {
  /* background-color: #f2f2f2; */
  /* border-bottom: 2px dashed #cfcfcf;
  border-top: 2px dashed #cfcfcf; */
  /* color: #989898;
  cursor: pointer; */
}

#newAudioUploadPreview {
  display: none;
  /* border:1px solid;
  border-color: rgba(0, 0, 0, 0.15); */
  margin-left: 0px;
  margin-right: 0px;
  min-height: 87px;
}

/* #newAudioUploadPreview #removeAudioGroup audio {
  margin-left: 19px;
} */

.playHead, #playHead {
  background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
  /* background: yellow; */
  height: 85px;
  position: absolute;
  margin-left: -1px;
  width: 1px;
}

/* #playHead:FOCUS {
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
  cursor: webkit-grabbing;
  cursor: -moz-grabbing;
  margin-left: -2px;
  width: 3px;
}

#playHead:hover {
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  margin-left: -2px;
  width: 3px;
} */

.playProgress, #playProgress {
	background: rgba(0, 0, 0, 0.05) none repeat scroll 0 0;
	/* background: red; */
	display: inline;
	cursor: pointer;
	height: 85px;
	position: absolute;
}

#progressBar {
	/* border: 1px solid rgba(0, 0, 0, 0.15); */
	background-color: #f8f8f8;
	height: 85px;
	position: relative;
}

#removeAudioButton {
  -moz-user-select: none;
  background-color: #d95e40;  
  border-color: #d95e40;
  border-radius: 50%;
  color: #fff;
  cursor: none;
  font-size: 20px;
  height: 21px;
  line-height: 14px;
  position: absolute;
  right: -7px;
  text-align: center;
  top: -7px;
  width: 21px;
  
  opacity: 0;
  transform: scale(0);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s, opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition-delay: 0.7s; /* delays for 0.7 second */
  -webkit-transition-delay: 0.7s; /* for Safari & Chrome */
}

#newAudioUploadPreview:hover #removeAudioButton {
  cursor: pointer;
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s, opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

#removeAlbumArtImage {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  height: 85px;
  line-height: 18px;
  opacity: 0;
  position: absolute;
  transition: opacity 0.1s linear 0s;  
}

#selectAudioAlbumArtDiv {
  align-items: center;
  background-color: #f2f2f2;
  border-color: #cfcfcf;
  border-style: dashed;
  border-width: 2px;
  color: #989898;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 73px;
  line-height: 18px;
  margin-left: 7%;
  margin-top:8%;
  text-align: center;
  width: 86%;
}

#selectAudioAlbumArtDiv > span {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */ 
}

/* hide album art image <input> element */
#selectAlbumArtInput {
  display: none;
}

/* new audio from web url input */
#urlAudioUploadInput {
  border: none;
  box-shadow: none;
  color: #444;
  cursor: auto;
  font-size: 14px;
  min-height: 40px;
  width: 100%;
}

#urlAudioUploadInput::-moz-placeholder {
  color: #A2A2A2;
}


/*
==================================
Audio Permission Confirm Check Box
==================================
*/
#audioPermission {
  bottom: 0px;
  display: none;
  left: 20px;
  margin-bottom: 0px;
  position: relative;
  top: 24px;
}

#audioPermissionText {
  color: rgb(143, 143, 143);
  cursor: default;
  font-style: italic;
  position: relative;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

#audioPermission span a {
  cursor: default;
  background-image: linear-gradient(180deg, rgba(68, 68, 68, 0) 50%, rgba(68, 68, 68, 0.25) 0px);
  background-position: 0 1.15em;
  background-repeat: repeat-x;
  background-size: 1em 2px;
  padding-bottom: 0.15em;
  text-decoration: none;
}

.binary_switch {
  -moz-user-select: none;
  cursor: pointer;
  display: inline-block;
  height: 14px;
  position: relative;
  vertical-align: middle;
  width: 24px;
  bottom: 1px;
  margin-bottom: 0px;
  margin-right: 6px;
}

.binary_switch input[type="checkbox"] {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    
    background-color: #fff;
    border: 1px solid #d5d9dd;
    border-radius: 2px;
    box-sizing: border-box;
    color: #222;
    font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    outline: 0 none;
}

.binary_switch .binary_switch_track {
    background-color: #9da6af;
    border-radius: 7px;
    height: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    transition: background-color 0.1s ease 0s;
    width: 100%;
}

.binary_switch .binary_switch_button {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    bottom: 2px;
    left: 2px;
    position: absolute;
    right: 12px;
    top: 2px;
    transition: left 0.1s ease-in-out 0s, right 0.1s ease-in-out 0s;
}

.binary_switch input[type="checkbox"]:checked ~ .binary_switch_track {
    background: #529ecc none repeat scroll 0 0;
}
.binary_switch input[type="checkbox"]:focus ~ .binary_switch_track {
    box-shadow: 0 0 5px #529ecc;
}
.binary_switch input[type="checkbox"]:checked ~ .binary_switch_button {
    left: 12px;
    right: 2px;
}