a, a:hover {
	color: gray;
	cursor: pointer;
	text-decoration: none;
}

a.panel-title {
  color:#444;
  font-size: 13px;
  font-weight: 700;
}

body {
	background-color: #36465D;
}

/* new post "Post" button disable style */
.btn[disabled], .btn[disabled]:hover {  
	background: #529ECC;
	border: none;
	color: #A9CFE6;	
	cursor: default;
	opacity: 1;
}

/* ignore <br type="_moz"> */
br[type="_moz"] {
  display: none;
}

div.btn-group {
	border-radius: 3px;
}

h1.panel-title {
	font-family: Arial;
  font-size: 36px;
}

/* new quote post button */
span.fa.fa-quote-left {
	font-size: 35px;
	margin-bottom: 3px;
}

/* new post buttons */
span.glyphicon {	
	color: gray;	
	cursor: pointer;
	font-size: 17px;
	margin-left: 8px;
	margin-right: 8px;
}

/* new posts buttons icons default size */
span.glyphicon.glyphicon-text-size, span.glyphicon.glyphicon-camera,
span.glyphicon.glyphicon-link, span.glyphicon.glyphicon-comment,
span.glyphicon.glyphicon-headphones, span.glyphicon.glyphicon-facetime-video {
	font-size: 35px;
	margin: 0px;
}

/* new posts footer "options" dropdown menu position */
ul.dropdown-menu-right {
	left: 80.5%;
	right: auto;
}

/* new post form "close" button default background and text color */
.btn.btn-default.pull-left, .btn.btn-default.pull-left:active 
.btn.btn-default.pull-left:focus, .btn.btn-default.pull-left:hover {
	background: #939CA4;
	border: none;
	color: #F1F6F6;	
}

/* new posts buttons */
.btn.btn-primary.btn-lg {
	background: transparent;
	border: none;
	color: #696969;
	font-size: 15px;
	height: 99px;
	opacity: 0.9;
	width: 76px;
}

/* "configuration icon" in new post dialog */
.glyphicon.glyphicon-cog.pull-right {
  font-size: 20px;
}

/* photo post responsive image */
.img-responsive {
  margin-bottom: 4px;
  width: 100%;
}

/* search bar and search bar icon background default color */
.input-group input#search, .input-group span#searchIcon {
	background: #2F3D51;
	border: none;	
	-webkit-transition: background .55s ease;
	-moz-transition: background .55s ease;
	-ms-transition: background .55s ease;
	-o-transition: background .55s ease;
	transition: background .55s ease;
}

/* search bar background color changes to white when focus*/
.input-group input#search:focus, .input-group input#search:active {
	background: white;
	box-shadow: none;
	outline: none;
}

.panel.panel-default {
  border:none;
}

.panel-default > .panel-heading {
	background: white;
	border: none;
}

.panel-body {
	padding: 15px 15px 0px 15px;
}

.panel-footer {
	background: white;
	border: none;
	text-align: right;
}

#containerHoldPosts {
  margin-top: 20px;
}

/* post panel heading */
#newPostPanelHead {
  background: white;
  border: none;
  padding: 15px 15px;
}

/* post panel heading title */
#newPostPanelHeadTitle {
  color:#444;
  font-size: 14px;
  font-weight: 700;
}

#newPostPanelFooter {
  border: none;
  padding: 15px 20px;
}

#uploadPostDropDown {
  margin-top: 8px;
  left: -26%;
  right: auto;
}

#uploadPostDropDown li > a {
  color: #444444;
}

#helperInput {
  margin-left: -40px;
}