/* add another photo button */
#addAnotherPhotoButton, #addAnotherPhotoFromWebButton, #addAgainAnotherPhotoFromWebButton {
  background-color: #f2f2f2;
  border-bottom: 2px dashed #cfcfcf;
  border-top: 2px dashed #cfcfcf;
  color: #989898;
  cursor: pointer;
  display: none;
  font-size: 14px;
  line-height: 24px;
  margin-top: 1px;
  padding-bottom: 8px;  
  padding-top: 8px;
  vertical-align: top;
}

#addAnotherPhotoFromWebDiv {
  background-color: #ffffff;
  border-bottom: 2px dashed #cfcfcf;
  border-top: 2px dashed #cfcfcf;
  color: #989898;
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 1px;
  vertical-align: top;
}

#addAnotherPhotoFromWebInput {
  border:none;
  color: #464646;
  padding: 0px 20px;
  width:100%;
  box-shadow: none;
  resize: none;
}

#addAnotherPhotoIcon, #addAnotherPhotoFromWebIcon {
  display: inline-block;
  font-size: 24px;
  height: 24px;
  line-height: 24px;
  vertical-align: top;
  width: 24px;
}

/* new photo panel body*/
#newPhotoPostModalBody {
  padding: 0px;
}

/* new photo upload panel */
#newPhotoUploadPanel {
  background-color: #f2f2f2;
  border-bottom: 2px dashed #cfcfcf;
  border-top: 2px dashed #cfcfcf;
  color: #989898;
  cursor: pointer;
}

/*new photo upload caption*/
#photoCaption {
  border: none;
  box-shadow: none;
  display: none;
  margin-top: 20px;
  padding: 0px;
  resize: none;
}

/* hide photo file <input> element */
#photoFileInput {
  display: none;
}

#photoTag {
  border: none;
  box-shadow: none;
  display: none;
  padding: 0px;
}

/* new photo upload left & right side panel */
#photoUploadColumn, #photoWebColumn {
  border-right: 1px solid #cfcfcf;
  cursor: pointer;
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 42.5px;
  text-align: center;
  width: 50%;
}

/* disable mouse text selection on new photos upload panel */
#photoUploadIcon, #photoUploadLabel, #photoWebIcon, #photoWebLabel {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
   user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

#photoUploadPostDropDown {
  margin-top: 8px;
  left: -26%;
  right: auto;
}

#photoUploadPostDropDown li > a {
  color: #444444;
}

/* new photo upload right side panel position */
#photoWebColumn {
  float: right;
}

/* new photo upload left & right side panel icon size */
#photoUploadIcon, #photoWebIcon {
  font-size: 60px;
}

#removeImageButton {
  -moz-user-select: none;
  background-color: #d95e40;  
  border-color: #d95e40;
  border-radius: 50%;
  color: #fff;
  cursor: none;
  font-size: 20px;
  height: 21px;
  line-height: 14px;
  position: absolute;
  right: -7px;
  text-align: center;
  top: -7px;
  width: 21px;
  
  opacity: 0;
  transform: scale(0);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s, opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition-delay: 0.7s; /* delays for 0.7 second */
  -webkit-transition-delay: 0.7s; /* for Safari & Chrome */
}

/* new photo upload left & right side panel icon and label font color */
#photoUploadIcon, #photoWebIcon, #photoUploadLabel, #photoWebLabel {
  color: #989898;
}

#removeImageButtonGroup:hover #removeImageButton {
  cursor: pointer;
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s, opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

/* new photo from web url input */
#urlPhotoUploadInput {
  border: none;
  color: #464646;
  padding: 32px 20px 32px 20px;
  width: 100%;
  box-shadow: none;
  resize: none;
}

/* new photo from web url input panel */
#urlPhotoUploadPanel {  
  border-bottom: 2px dashed #cfcfcf;
  border-top: 2px dashed #cfcfcf;
  color: #989898;
  display: none;
}

#urlPhotoUploadPanelClose {
  -moz-user-select: none;
  background-color: #d95e40;  
  border-color: #d95e40;
  border-radius: 50%;
  color: #fff;
  cursor: none;
  font-size: 20px;
  height: 21px;
  line-height: 14px;
  position: absolute;
  right: -7px;
  text-align: center;
  top: -7px;
  width: 21px;
  
  opacity: 0;
  transform: scale(0);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s, opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition-delay: 0.7s; /* delays for 0.7 second */
  -webkit-transition-delay: 0.7s; /* for Safari & Chrome */
}

/* new photo from web url input div */
#urlPhotoUploadPanelDiv {
  padding-bottom: 63px;
  padding-left: 0px;
  padding-right: 0px;  
  padding-top: 63px;
}

#urlPhotoUploadPanelDiv:hover #urlPhotoUploadPanelClose {
  cursor: pointer;
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s, opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
} 
