/* video will be responsive */
video {
  width: 100%;
  height: auto;
}

iframe {
  width: 100%;
  height: 304px;
} 

/* new video panel body*/
#newVideoPostModalBody {
  padding: 0px;
}

/* new video upload panel */
#newVideoUploadPanel {
  background-color: #f2f2f2;
  border-bottom: 2px dashed #cfcfcf;
  border-top: 2px dashed #cfcfcf;
  color: #989898;
  cursor: pointer;
}

#newVideoUploadPreview {
  display: none;
}

#removeVideoButton {
  -moz-user-select: none;
  background-color: #d95e40;  
  border-color: #d95e40;
  border-radius: 50%;
  color: #fff;
  cursor: none;
  font-size: 20px;
  height: 21px;
  line-height: 14px;
  position: absolute;
  right: -7px;
  text-align: center;
  top: -7px;
  width: 21px;
  
  opacity: 0;
  transform: scale(0);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s, opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition-delay: 0.7s; /* delays for 0.7 second */
  -webkit-transition-delay: 0.7s; /* for Safari & Chrome */
}

#newVideoUploadPreview:hover #removeVideoButton {
  cursor: pointer;
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s, opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

/* new video from web url input */
#urlVideoUploadInput {
  border: none;
  color: #464646;
  padding: 32px 20px 32px 20px;
  width: 100%;
  box-shadow: none;
  resize: none;
  
  margin-top: 3px;
  margin-bottom: 3px;
}

/* new video from web url input panel */
#urlVideoUploadPanel {  
  border-bottom: 2px dashed #cfcfcf;
  border-top: 2px dashed #cfcfcf;
  color: #989898;
  display: none;
}

#urlVideoUploadPanelClose {
  -moz-user-select: none;
  background-color: #d95e40;  
  border-color: #d95e40;
  border-radius: 50%;
  color: #fff;
  cursor: none;
  font-size: 20px;
  height: 21px;
  line-height: 14px;
  position: absolute;
  right: -7px;
  text-align: center;
  top: -7px;
  width: 21px;
  
  opacity: 0;
  transform: scale(0);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s, opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition-delay: 0.7s; /* delays for 0.7 second */
  -webkit-transition-delay: 0.7s; /* for Safari & Chrome */
}

/* new video from web url input div */
#urlVideoUploadPanelDiv {
  padding-bottom: 63px;
  padding-left: 0px;
  padding-right: 0px;  
  padding-top: 63px;
}

#urlVideoUploadPanelDiv:hover #urlVideoUploadPanelClose {
  cursor: pointer;
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s, opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

/*new video upload caption*/
#videoCaption {
  border: none;
  box-shadow: none;
  display: none;
  margin-top: 40px;
  min-height: 80px;
  padding: 0px;
  outline: none;
  resize: none;
  word-wrap: break-word;
}

#videoCaption:empty {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */ 
}

#videoCaption:empty::before {
  color: #a2a2a2;
  content: 'Add a caption, if you like';
}

/* hide video file <input> element */
#videoFileInput {
  display: none;
}

#videoPostPanelBody {
  padding: 0px;
}

#videoTag {
  border: none;
  box-shadow: none;
  display: none;
  padding: 0px;
}

/* new video upload left & right side panel */
#videoUploadColumn, #videoWebColumn {
  border-right: 1px solid #cfcfcf;
  cursor: pointer;
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 42.5px;
  text-align: center;
  width: 50%;
}

/* new video upload left & right side panel icon size */
#videoUploadIcon, #videoWebIcon {
  font-size: 60px;
}

/* disable mouse text selection on new video upload panel */
#videoUploadIcon, #videoUploadLabel, #videoWebIcon, #videoWebLabel {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
   user-select: none; /* Non-prefixed version, currently not supported by any browser */
   
   color: #989898; /* new video upload left & right side panel icon and label font color */
}

#videoUploadIconDiv {
  margin-bottom: 10px;
}

#videoPostTagDiv {
  font-size: 13px;
  margin-top: 15px;
}

/* new video upload right side panel position */
#videoWebColumn {
  float: right;
}

/*
==================================
Video Permission Confirm Check Box
==================================
*/
#videoPermission {
  bottom: 0px;
  display: none;
  margin-bottom: 0px;
  position: relative;
  top: 24px;
}

#videoPermissionText {
  color: rgb(143, 143, 143);
  cursor: default;
  font-style: italic;
  position: relative;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

#videoPermission span a {
  cursor: default;
  background-image: linear-gradient(180deg, rgba(68, 68, 68, 0) 50%, rgba(68, 68, 68, 0.25) 0px);
  background-position: 0 1.15em;
  background-repeat: repeat-x;
  background-size: 1em 2px;
  padding-bottom: 0.15em;
  text-decoration: none;
}