		@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("First Test") {
	<!DOCTYPE html>
	<html lang="en">
	  <head>
	    <title>Tumblr Example</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <script src="assets/javascripts/sweetalert.min.js"></script>
	    <script src="assets/javascripts/util.js"></script>
	    <script src="assets/javascripts/text.js"></script>
	    <script src="assets/javascripts/photo.js"></script>
	    <script src="assets/javascripts/quote.js"></script>
	    <script src="assets/javascripts/audio.js"></script>
	    <script src="assets/javascripts/video.js"></script>
	    <script src="assets/javascripts/id3-minimized.js"></script>
	    <script src="assets/javascripts/handle_audio_local_file.js"></script>
	    <script src="assets/javascripts/handle_audio_album_art.js"></script>
	    <script src="assets/javascripts/audio_post_player_control.js"></script>
	    <script src="assets/javascripts/handle_video_local_file.js"></script>
	    <script src="assets/javascripts/handle_video_youtube_vimeo.js"></script>
	    <script src="assets/javascripts/add_new_text_post.js"></script>
	    <script src="assets/javascripts/add_new_photo_post.js"></script>
	    <script src="assets/javascripts/add_new_quote_post.js"></script>
	    <script src="assets/javascripts/add_new_audio_post.js"></script>
     	<script src="assets/javascripts/add_new_video_post.js"></script>
	    <script src="assets/javascripts/mp4box.all.min.js"></script>
	    <script src="assets/javascripts/vissense.min.js"></script>
	    <link rel="stylesheet" type="text/css" href="assets/stylesheets/sweetalert.css">
	    <link rel="stylesheet" type="text/css" href="assets/stylesheets/main.css">
	    <link rel="stylesheet" type="text/css" href="assets/stylesheets/text.css">
	    <link rel="stylesheet" type="text/css" href="assets/stylesheets/photo.css">
	    <link rel="stylesheet" type="text/css" href="assets/stylesheets/quote.css">
	    <link rel="stylesheet" type="text/css" href="assets/stylesheets/audio.css">
	    <link rel="stylesheet" type="text/css" href="assets/stylesheets/video.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<!-- material icons font -->
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  </head>
	  <body>
	  
	  	<!-- container for search bar start-->
	  	<div class="container-fluid" style="margin-top:10px">
	  		<div class="row">
	  			<div class="col-sm-1"></div>
	  				<div class="col-sm-6">
				      <form>
				        <div class="input-group" id="searchBar">
				          <span class="input-group-addon" id="searchIcon"><i class="glyphicon glyphicon-search" id="glyphiconSearch" style="color:#ACB1B9; font-size: 16px"></i></span>
				          <input type="text" class="form-control" id="search" placeholder="Search Tumblr" />
				        </div>	        
				      </form>
			      </div>
        </div>
	  	</div>
	  	<!-- container for search bar end -->
	  	
	  	<!-- container for new posts buttons -->
	    <div class="container-fluid clearfix" style="margin-top: 30px;">
	      <div class="row">
		      <div class="col-sm-1"></div>
		      <div class="col-sm-7">
			      <div class="btn-group btn-group-justified" style="background: white">
			      	
			      	<!-- text button -->
			        <a class="btn btn-primary btn-lg" onclick="textPostModal()" data-toggle="modal" data-target="#modalFade"><span class="glyphicon glyphicon-text-size"></span><br>Text</a>			        
			        <!-- photo button -->
			        <a class="btn btn-primary btn-lg" onclick="photoPostModal()" data-toggle="modal" data-target="#modalFade"><span class="glyphicon glyphicon-camera"></span><br>Photo</a>			        
			        <!-- quote button -->
			        <a class="btn btn-primary btn-lg" onclick="quotePostModal()" data-toggle="modal" data-target="#modalFade"><span class="fa fa-quote-left" aria-hidden="true"></span><br>Quote</a>			        
			        
			        <a class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-link"></span><br>Link</a>
			        <a class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-comment"></span><br>Chat</a>
			        <a class="btn btn-primary btn-lg" onclick="audioPostModal()" data-toggle="modal" data-target="#modalFade"><span class="glyphicon glyphicon-headphones"></span><br>Audio</a>
			        <a class="btn btn-primary btn-lg" onclick="videoPostModal()" data-toggle="modal" data-target="#modalFade"><span class="glyphicon glyphicon-facetime-video"></span><br>Video</a>
			        </div>
			        <!-- new posts buttons modal start-->
			        <div class="modal fade" id="modalFade" role="dialog">
			          <div class="modal-dialog" id="modalDialog">			          
			            <!-- new posts modal codes insert here -->
			            
									<!-- <div class="modal-content">
								  	<div class="panel-heading" id="newPostPanelHead">
									    <a class="panel-title" id="newPostPanelHeadTitle">groovypeacetimetravel</a>
									    <span class="glyphicon glyphicon-cog pull-right"></span>
									  </div>
									  <div class="modal-body" id="newTextModalBody">
									    <form role="form">
									        <span id="textTitle" contenteditable="true"></span>
									        <span id="textAreaPost" contenteditable="true"></span>
									        <input class="form-control" id="textTag" placeholder="#tags" />
									    </form>
									  </div>
									  <div class="modal-footer">
									    <button class="btn btn-default pull-left" data-dismiss="modal">Close</button>
									    <button onclick="addNewTextPost()" data-dismiss="modal" class="btn btn-primary pull-right">Post</button>
									  </div>
									</div>
									
									<script>
										$("#modalFade").on("shown.bs.modal", function(){
									    $(this).find('#textAreaPost').focus();
									  });
									</script> -->
									
									<!-- <div class="modal-content">
										<div class="panel-heading" id="newPostPanelHead">
									    <a class="panel-title" id="newPostPanelHeadTitle">groovypeacetimetravel</a>
									    <span class="glyphicon glyphicon-cog pull-right"></span>
									  </div>
									  <div class="modal-body" id="newQuoteModalBody">
									    <form role="form">
							        	<div id="openQuote">“</div>
							        	<div id="quoteInputDiv" onclick="focusQuoteInput()">
								        	<span id="quoteInput" contenteditable="true"></span>
													<div id="closeQuote">”</div>
							        	</div>
									      <div id="quotePlaceholder" onclick="focusQuoteInput()">“Quote”</div>									      
								        <div id="quoteSourceDiv">
								        	<span id="quoteSourceInput" contenteditable="true"></span>
							        	</div>
								        <input class="form-control" id="quoteTag" placeholder="#tags">
									    </form>
									  </div>
								  	<div class="modal-footer" id="newPostPanelFooter">
								  	  <button class="btn btn-default pull-left" data-dismiss="modal">Close</button>
								  	  <div class="btn-group">
								  	    <button class="btn btn-primary" data-dismiss="modal" onclick="addNewQuotePost()">Post</button>
								  	    <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
													<span class="caret"></span>
												</button>
								  	    <ul class="dropdown-menu" id="photoUploadPostDropDown">
								  	      <li><a href="">Post now</a></li>
								  	      <li><a href="">Add to queue</a></li>
								  	      <li><a href="">Save as draft</a></li>
								  	      <li><a href="">Post privately</a></li>
								  	      <li><a href="">Schedule</a></li>
								  	    </ul>
								  	  </div>
								  	</div>
									</div>
									
									<script>
									$("#modalFade").on("shown.bs.modal", function(){
								    $(this).find('#quoteInput').focus();
								  });
									</script> -->
									
									<!-- <div class="modal-content">
										<div class="panel-heading" id="newPostPanelHead">
									    <a class="panel-title" id="newPostPanelHeadTitle">groovypeacetimetravel</a>
									    <span class="glyphicon glyphicon-cog pull-right"></span>
									  </div>
									  <div class="modal-body" id="newPhotoPostModalBody">
											<form id="formWithFiles" method="post" enctype="multipart/form-data">
												<input id="photoFileInput" name="photoFileInput" accept="image/*" type="file" onchange="handlePhotoFiles(this.files)"/>
									      <div class="container-fluid">
									      	<div class="row" id="newPhotoUploadPanel">
														<div class="col-md-6" id="photoUploadColumn" onclick="$('#photoFileInput').click()">												       
														  <div><i class="material-icons" id="photoUploadIcon">add_a_photo</i></div>
														  <div><span id="photoUploadLabel">Upload photos</span></div>
														</div>													
														
														<div class="col-md-6" id="photoWebColumn" onclick=photoUrlPanelDisplay()>
															<div><i class="glyphicon glyphicon-globe" id="photoWebIcon"></i></div>
														 	<div><span id="photoWebLabel">Add photo from web</span></div>
														</div>
													</div>	
													<div class="row" id="urlPhotoUploadPanel">
														<div class="col-md-12" id="urlPhotoUploadPanelDiv">
															<span id="urlPhotoUploadPanelClose" onclick="closePhotoUrlPanel()">&times;</span>
														  <input id="urlPhotoUploadInput" oninput="validatePhotoURL()" placeholder="Paste a URL"></input>
														</div>	
													</div>											
													<div class="row" id="newPhotoUploadThumbnail"></div>													
													<div class="row text-center" id="addAnotherPhotoButton" onclick="$('#photoFileInput').click()">
														<i class="material-icons" id="addAnotherPhotoIcon">add_a_photo</i>
														Add another
													</div>													
													<div class="row text-center" id="addAnotherPhotoFromWebButton" onclick=displayPhotoURLInput()>
														<i class="glyphicon glyphicon-globe" id="addAnotherPhotoFromWebIcon"></i>
														Add another
													</div>
													<div class="row text-center" id="addAnotherPhotoFromWebDiv">
														<input id="addAnotherPhotoFromWebInput" oninput="validateAnotherPhotoURL()" placeholder="Paste a URL"></input>
													</div>													
													<div class="row text-center" id="addAgainAnotherPhotoFromWebButton" onclick=displayPhotoURLInput()>
														<i class="glyphicon glyphicon-globe" id="addAnotherPhotoFromWebIcon"></i>
														Add another
													</div>	
									        <span id="photoCaption" contenteditable="true"></span>
									        <input class="form-control" id="photoTag" name="photoTag" placeholder="#tags" type="text" />
									      </div>
									    </form>
									  </div>
									  <div class="modal-footer" id="newPostPanelFooter">
									    <button class="btn btn-default pull-left" data-dismiss="modal">Close</button>
									    <div class="btn-group">
										    <button class="btn btn-primary" id="photoPostButton" data-dismiss="modal" onclick="">Post</button>
										    <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
											    <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu" id="photoUploadPostDropDown">
											    <li><a href="">Post now</a></li>
											    <li><a href="">Add to queue</a></li>
											    <li><a href="">Save as draft</a></li>
											    <li><a href="">Post privately</a></li>
											    <li><a href="">Schedule</a></li>
											  </ul>
											</div>
									  </div>
									</div> -->
									
									<!--<div class="modal-content">
										<div class="panel-heading" id="newPostPanelHead">
									    <a class="panel-title" id="newPostPanelHeadTitle">groovypeacetimetravel</a>
									    <span class="glyphicon glyphicon-cog pull-right"></span>
									  </div>
									  <div class="modal-body" id="newAudioPostModalBody">
											<form method="post" enctype="multipart/form-data">
												<input id="audioFileInput" name="audioFileInput" accept=".mp3" type="file" onchange="handleAudioFiles(this.files)"/>
									      <div class="container-fluid">
									      	<div class="row" id="newAudioUploadPanel">
														<div class="input-group" id="audioUrlInputGroup">
															<span class="input-group-addon" id="audioUrlSearchIcon"><i class="glyphicon glyphicon-search" id="audioUrlGlyphiconSearch"></i></span>
															<input id="urlAudioUploadInput" oninput="validateAudioURL()" placeholder="Search for a song or paste a URL" type="url"></input>
															<span class="input-group-addon" id="audioLocalFileIcon"><i class="glyphicon glyphicon-plus" id="audioUrlGlyphiconPlus" title="No file selected." onclick="$('#audioFileInput').click()"></i></span>
										        </div>
										        <div id="newAudioUploadPreview">
										        	<div id="audioPreviewControl">
																<div id="progressBar"><span id="playProgress"></span><i id="playHead"></i></div>
																<i class="glyphicon glyphicon-play" id="audioPlayerButton" onclick="togglePlayPause()"></i>
																<input class="glyphicon" id="audioTrackInput">
																<label class="glyphicon" id="audioTrackLabel">Track</label>
																<input class="glyphicon" id="audioArtistInput">
																<label class="glyphicon" id="audioArtistLabel">Artist</label>
																<input class="glyphicon" id="audioAlbumInput">
																<label class="glyphicon" id="audioAlbumLabel">Album</label>
															</div>
															<input id="selectAlbumArtInput" name="selectAlbumArtInput" accept="image/*" type="file" onchange="handleAlbumArt(this.files)"/>
															<div id="audioAlbumArtDiv">
																<div id="selectAudioAlbumArtDiv">
																	<span class="text-center" onclick="$('#selectAlbumArtInput').click()">Select album art</span>
																</div>
																<div id="audioAlbumArtPreview"></div>
															</div>
										        </div>										        
										        <div id="audioPermission">
															<label class="binary_switch">
																<input id="audioPermissionCheckBox" type="checkbox">
																<span class="binary_switch_track"></span>
																<span class="binary_switch_button"></span>
															</label>
															<span id="audioPermissionText" onclick="$('#audioPermissionCheckBox').click()">
																This is my original work, or I <a> have permission </a> to post this.
															</span>
														</div>
										        <div id="audioDescriptionDiv">
										        	<span id="audioDescription" contenteditable="true"></span>
										        </div>
										        <div>
										        	<input class="form-control" id="audioTag" name="audioTag" placeholder="#tags" type="text" />
										        </div>
										    	</div>
									      </div>
									    </form>
									  </div>
									  <div class="modal-footer" id="newPostPanelFooter">
									    <button class="btn btn-default pull-left" data-dismiss="modal">Close</button>
									    <div class="btn-group">
										    <button class="btn btn-primary" id="audioPostButton" data-dismiss="modal" onclick="">Post</button>
										    <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
											    <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu" id="audioUploadPostDropDown">
											    <li><a href="">Post now</a></li>
											    <li><a href="">Add to queue</a></li>
											    <li><a href="">Save as draft</a></li>
											    <li><a href="">Post privately</a></li>
											    <li><a href="">Schedule</a></li>
											  </ul>
											</div>
									  </div>
									</div>-->
									
									<!--<div class="modal-content">
										<div class="panel-heading" id="newPostPanelHead">
									    <a class="panel-title" id="newPostPanelHeadTitle">groovypeacetimetravel</a>
									    <span class="glyphicon glyphicon-cog pull-right"></span>
									  </div>
									  <div class="modal-body" id="newVideoPostModalBody">
											<form id="formWithFiles" method="post" enctype="multipart/form-data">
												<input id="videoFileInput" name="videoFileInput" accept=".mp4" type="file" onchange="handleVideoFiles(this.files)"/>
									      <div class="container-fluid">
									      	<div class="row" id="newVideoUploadPanel">
														<div class="col-md-6" id="videoUploadColumn" onclick="$('#videoFileInput').click()">												       
														  <div id="videoUploadIconDiv"><i class="fa fa-file-video-o" id="videoUploadIcon"></i></div>
														  <div><span id="videoUploadLabel">Upload a video</span></div>
														</div>													
														
														<div class="col-md-6" id="videoWebColumn" onclick=videoUrlPanelDisplay()>
															<div id="videoUploadIconDiv"><i class="glyphicon glyphicon-globe" id="videoWebIcon"></i></div>
														 	<div><span id="videoWebLabel">Add video from web</span></div>
														</div>
													</div>	
													<div class="row" id="urlVideoUploadPanel">
														<div class="col-md-12" id="urlVideoUploadPanelDiv">
															<span id="urlVideoUploadPanelClose" onclick="closeVideoUrlPanel()">&times;</span>
														  <input id="urlVideoUploadInput" oninput="validateVideoURL()" placeholder="Paste a URL or embed code"></input>
														</div>	
													</div>											
													<div class="row" id="newVideoUploadPreview"></div>
													<div id="videoPermission">
														<label class="binary_switch">
															<input id="videoPermissionCheckBox" type="checkbox">
															<span class="binary_switch_track"></span>
															<span class="binary_switch_button"></span>
														</label>
														<span id="videoPermissionText" onclick="$('#videoPermissionCheckBox').click()">
															This is my original work, or I <a> have permission </a> to post this.
														</span>
													</div>
									        <span id="videoCaption" contenteditable="true"></span>
									        <input class="form-control" id="videoTag" name="videoTag" placeholder="#tags" type="text" />
									      </div>
									    </form>
									  </div>
									  <div class="modal-footer" id="newPostPanelFooter">
									    <button class="btn btn-default pull-left" data-dismiss="modal">Close</button>
									    <div class="btn-group">
										    <button class="btn btn-primary" data-dismiss="modal" onclick="">Post</button>
										    <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
											    <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu" id="uploadPostDropDown">
											    <li><a href="">Post now</a></li>
											    <li><a href="">Add to queue</a></li>
											    <li><a href="">Save as draft</a></li>
											    <li><a href="">Post privately</a></li>
											    <li><a href="">Schedule</a></li>
											  </ul>
											</div>
									  </div>
									</div>-->
									
									
			          </div>
			        </div>
			        <!-- new posts buttons modal end-->
			        
			      <!-- </div> -->
	      	</div>
	      </div>
	    </div>
	    <!-- container for new posts buttons end -->
	    
	    <!-- container to hold posts -->
	    <div class="container-fluid" id="containerHoldPosts">
	    	<div class="row">
	    		<div class="col-sm-1"></div>
	      	<div class="col-sm-7" id="postColumn">
					  
					  <!-- vimeo video test start -->
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <a class="panel-title">groovypeacetimetravel</a>
						  </div>
						  <div class="panel-body" id="videoPostPanelBody">
						    <iframe src="//player.vimeo.com/video/19339941" frameborder="0" allowfullscreen></iframe>
						  </div>
						  <div class="panel-body">
						    Test video<br>
						    <div id="videoPostTagDiv"><a>#test video</a></div>
						  </div>
						  <div class="panel-footer">
						  	<div class="dropdown">
							    <a href=""><span class="glyphicon glyphicon-send" title="Share"></span></a>
							    <a href=""><span class="glyphicon glyphicon-retweet" title="Reblog"></span></a>
							    <span class="glyphicon glyphicon-cog dropdown-toggle" data-toggle="dropdown" title="Options"></span>
							    <ul class="dropdown-menu dropdown-menu-right">
							      <li><a href="">Edit</a></li>
							      <li><a href="">Delete</a></li>
							    </ul>		
								</div>					    
						  </div>
					  </div> 
					  <!-- vimeo video test end -->
					  
					  <!-- youtube video test start -->
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <a class="panel-title">groovypeacetimetravel</a>
						  </div>
						  <div class="panel-body" id="videoPostPanelBody">
						    <iframe src="//www.youtube.com/embed/M7lc1UVf-VE" frameborder="0" allowfullscreen></iframe>
						  </div>
						  <div class="panel-body">
						    Test video<br>
						    <div id="videoPostTagDiv"><a>#test video</a></div>
						  </div>
						  <div class="panel-footer">
						  	<div class="dropdown">
							    <a href=""><span class="glyphicon glyphicon-send" title="Share"></span></a>
							    <a href=""><span class="glyphicon glyphicon-retweet" title="Reblog"></span></a>
							    <span class="glyphicon glyphicon-cog dropdown-toggle" data-toggle="dropdown" title="Options"></span>
							    <ul class="dropdown-menu dropdown-menu-right">
							      <li><a href="">Edit</a></li>
							      <li><a href="">Delete</a></li>
							    </ul>		
								</div>					    
						  </div>
					  </div> 
					  <!-- youtube video test end -->
					  
					  <!-- video test start -->
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <a class="panel-title">groovypeacetimetravel</a>
						  </div>
						  <div class="panel-body" id="videoPostPanelBody">
						    <video controls src="assets/upload/video/big_buck_bunny_480p_30mb.mp4">
						  </div>
						  <div class="panel-body">
						    Test video<br>
						    <div id="videoPostTagDiv"><a>#test video</a></div>
						  </div>
						  <div class="panel-footer">
						  	<div class="dropdown">
							    <a href=""><span class="glyphicon glyphicon-send" title="Share"></span></a>
							    <a href=""><span class="glyphicon glyphicon-retweet" title="Reblog"></span></a>
							    <span class="glyphicon glyphicon-cog dropdown-toggle" data-toggle="dropdown" title="Options"></span>
							    <ul class="dropdown-menu dropdown-menu-right">
							      <li><a href="">Edit</a></li>
							      <li><a href="">Delete</a></li>
							    </ul>		
								</div>					    
						  </div>
					  </div> 
					  <!-- video test end -->
					  
					  <!-- video test start -->
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <a class="panel-title">groovypeacetimetravel</a>
						  </div>
						  <div class="panel-body" id="videoPostPanelBody">
						    <video id="urlVideo" controls src="assets/upload/video/big_buck_bunny_480p_30mb.mp4">
						  </div>
						  <div class="panel-body">
						    Test video<br>
						    <div id="videoPostTagDiv"><a>#test video</a></div>
						  </div>
						  <div class="panel-footer">
						  	<div class="dropdown">
							    <a href=""><span class="glyphicon glyphicon-send" title="Share"></span></a>
							    <a href=""><span class="glyphicon glyphicon-retweet" title="Reblog"></span></a>
							    <span class="glyphicon glyphicon-cog dropdown-toggle" data-toggle="dropdown" title="Options"></span>
							    <ul class="dropdown-menu dropdown-menu-right">
							      <li><a href="">Edit</a></li>
							      <li><a href="">Delete</a></li>
							    </ul>		
								</div>					    
						  </div>
					  </div> 
					  <!-- video test end -->
	      	
	      		<!-- audio test start -->
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <a class="panel-title">groovypeacetimetravel</a>
						  </div>
						  <div class="panel-body" id="audioPostPanelBody">
						    <audio id="urlAudio" src="http://www.stephaniequinn.com/Music/Pachelbel%20-%20Canon%20in%20D%20Major.mp3" onloadedmetadata="initilizeUrlAudioPostControl(this)"></audio>
						    <div id="audioPostPlayControl">
									<div id="audioPostProgressBar"><span id="playProgress"></span><i id="playHead"></i></div>
									<i class="glyphicon glyphicon-play" id="audioPostPlayerButton" onclick="togglePlayPauseAudioPost()"></i>
									<li class="glyphicon" id="audioPostTrack">"Canon" (in D-Major)</li>
									<li class="glyphicon" id="audioPostArtist">Pachebel</li>
									<li class="glyphicon" id="audioPostAlbum">Classical</li>
								</div>
								<div id="audioPostAlbumArtDiv">
									<img class="img-responsive" src="assets/images/Transformer-Open-and-Short-Circuit-Tests.png">
								</div>
						  </div>						  
						  <div class="panel-body" id="audioPostDesciptionTagPanelBody">						  	
						    03 - “Canon” (in D-Major), Pachebel<br><br>Sample<br>
						    <div id="audioPostTagDiv"><a>#sampletest</a></div>
						  </div>
						  <div class="panel-footer">
						  	<div class="dropdown">
							    <a href=""><span class="glyphicon glyphicon-send" title="Share"></span></a>
							    <a href=""><span class="glyphicon glyphicon-retweet" title="Reblog"></span></a>
							    <span class="glyphicon glyphicon-cog dropdown-toggle" data-toggle="dropdown" title="Options"></span>
							    <ul class="dropdown-menu dropdown-menu-right">
							      <li><a href="">Edit</a></li>
							      <li><a href="">Delete</a></li>
							    </ul>		
								</div>					    
						  </div>
					  </div>
					  <!-- audio test end -->
					  
					  <!-- photo test start -->
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <a class="panel-title">groovypeacetimetravel</a>
						  </div>
						  <div class="photo-panel-body">
						    <img class="img-responsive" id="imgResponsive" src="assets/images/Caution-Border-02--Arvin61r58.png" alt="">
						  </div>
						  <div class="panel-body">
						    Test image<br>
						    <div id="photoPostTagDiv"><a>#test image</a></div>
						  </div>
						  <div class="panel-footer">
						  	<div class="dropdown">
							    <a href=""><span class="glyphicon glyphicon-send" title="Share"></span></a>
							    <a href=""><span class="glyphicon glyphicon-retweet" title="Reblog"></span></a>
							    <span class="glyphicon glyphicon-cog dropdown-toggle" data-toggle="dropdown" title="Options"></span>
							    <ul class="dropdown-menu dropdown-menu-right">
							      <li><a href="">Edit</a></li>
							      <li><a href="">Delete</a></li>
							    </ul>		
								</div>					    
						  </div>
					  </div>
					  <!-- photo test end -->
						
						<!-- quote test start-->
						<div class="panel panel-default">
							<div class="panel-heading">
						    <a class="panel-title">groovypeacetimetravel</a>
						  </div>
						  <div class="panel-body" id="quotePostBody">
								<blockquote>
								  <p>Test Quote</p>
								  <footer>Testing Source</footer>
								</blockquote>							    
						    <div id="photoPostTagDiv"><a>#test tag</a></div>
						  </div>
						  <div class="panel-footer">
						  	<div class="dropdown">
							    <a href=""><span class="glyphicon glyphicon-send" title="Share"></span></a>
							    <a href=""><span class="glyphicon glyphicon-retweet" title="Reblog"></span></a>
							    <span class="glyphicon glyphicon-cog dropdown-toggle" data-toggle="dropdown" title="Options"></span>
							    <ul class="dropdown-menu dropdown-menu-right">
							      <li><a href="">Edit</a></li>
							      <li><a href="">Delete</a></li>
							    </ul>		
								</div>					    
						  </div>
					  </div>
					  <!-- quote test end -->
	      	
	      		<!-- text test start -->
						<div class="panel panel-default">
							<div class="panel-heading">
						    <a class="panel-title">groovypeacetimetravel</a>
						  </div>
						  <div class="panel-heading">
						    <h1 class="panel-title">Test2</h1>
						  </div>
						  <div class="panel-body">
						    Text2<br><br>
						    <div id="textPostTagDiv"><a>#test2</a></div>
						  </div>
						  <div class="panel-footer">
						  	<div class="dropdown">
							    <a href=""><span class="glyphicon glyphicon-send" title="Share"></span></a>
							    <a href=""><span class="glyphicon glyphicon-retweet" title="Reblog"></span></a>
							    <span class="glyphicon glyphicon-cog dropdown-toggle" data-toggle="dropdown" title="Options"></span>
							    <ul class="dropdown-menu dropdown-menu-right">
							      <li><a href="">Edit</a></li>
							      <li><a href="">Delete</a></li>
							    </ul>		
								</div>					    
						  </div>
					  </div>
					  <!-- text test end -->
					  
	      	</div>
	      </div>    
	    </div>
	    <!-- container to hold posts end -->
	    
	  </body>
	</html>
}