@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("First Test") {
	<!DOCTYPE html>
	<html lang="en">
	  <head>
	    <title>Tumblr Example</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <script src="assets/javascripts/util.js"></script>
	    <script src="assets/javascripts/text_area_auto_expand.js"></script>
	    <script src="assets/javascripts/text.js"></script>
	    <script src="assets/javascripts/photo.js"></script>
	    <script src="assets/javascripts/quote.js"></script>
	    <link rel="stylesheet" type="text/css" href="assets/stylesheets/main.css">
	    <link rel="stylesheet" type="text/css" href="assets/stylesheets/text.css">
	    <link rel="stylesheet" type="text/css" href="assets/stylesheets/photo.css">
	    <link rel="stylesheet" type="text/css" href="assets/stylesheets/quote.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<!-- material icons font --><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  </head>
	  <body>
	  
	  	<!-- container for search bar start-->
	  	<div class="container-fluid" style="margin-top:10px">
	  		<div class="row">
	  			<div class="col-sm-1"></div>
	  				<div class="col-sm-6">
				      <form>
				        <div class="input-group" id="searchBar">
				          <span class="input-group-addon" id="searchIcon"><i class="glyphicon glyphicon-search" id="glyphiconSearch" style="color:#ACB1B9; font-size: 16px"></i></span>
				          <input type="text" class="form-control" id="search" placeholder="Search Tumblr" />
				        </div>	        
				      </form>
			      </div>
        </div>
	  	</div>
	  	<!-- container for search bar end -->
	  	
	  	<!-- container for new posts buttons -->
	    <div class="container-fluid clearfix" style="margin-top: 30px;">
	      <div class="row">
		      <div class="col-sm-1"></div>
		      <div class="col-sm-7">
			      <div class="btn-group btn-group-justified" style="background: white">
			      	
			      	<!-- text button -->
			        <a class="btn btn-primary btn-lg" onclick="textPostModal()" data-toggle="modal" data-target="#modalFade"><span class="glyphicon glyphicon-text-size"></span><br>Text</a>			        
			        <!-- photo button -->
			        <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalFade"><span class="glyphicon glyphicon-camera"></span><br>Photo</a>			        
			        <!-- quote button -->
			        <a class="btn btn-primary btn-lg" onclick="quotePostModal()" data-toggle="modal" data-target="#modalFade"><span class="fa fa-quote-left" aria-hidden="true"></span><br>
Quote</a>			        
			        
			        <a class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-link"></span><br>Link</a>
			        <a class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-comment"></span><br>Chat</a>
			        <a class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-headphones"></span><br>Audio</a>
			        <a class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-facetime-video"></span><br>Video</a>
			        </div>
			        <!-- new posts buttons modal start-->
			        <div class="modal fade" id="modalFade" role="dialog">
			          <div class="modal-dialog" id="modalDialog">			          
			            <!-- new posts modal codes insert here -->
			            
									<!-- <div class="modal-content">
								  	<div class="panel-heading" id="newPostPanelHead">
									    <a class="panel-title" id="newPostPanelHeadTitle">groovypeacetimetravel</a>
									    <span class="glyphicon glyphicon-cog pull-right"></span>
									  </div>
									  <div class="modal-body" id="newTextModalBody">
									    <form role="form">
									        <span id="textTitle" contenteditable="true"></span>
									        <span id="textAreaPost" contenteditable="true"></span>
									        <input class="form-control" id="textTag" placeholder="#tags" />
									    </form>
									  </div>
									  <div class="modal-footer">
									    <button class="btn btn-default pull-left" data-dismiss="modal">Close</button>
									    <button onclick="addNewTextPost()" data-dismiss="modal" class="btn btn-primary pull-right">Post</button>
									  </div>
									</div>
									
									<script>
										$("#modalFade").on("shown.bs.modal", function(){
									    $(this).find('#textAreaPost').focus();
									  });
									</script> -->
									
									<!-- <div class="modal-content">
										<div class="panel-heading" id="newPostPanelHead">
									    <a class="panel-title" id="newPostPanelHeadTitle">groovypeacetimetravel</a>
									    <span class="glyphicon glyphicon-cog pull-right"></span>
									  </div>
									  <div class="modal-body" id="newQuoteModalBody">
									    <form role="form">
							        	<div id="openQuote">“</div>
							        	<div id="quoteInputDiv" onclick="focusQuoteInput()">
								        	<span id="quoteInput" onclick="" contenteditable="true"></span>
													<div id="closeQuote">”</div>
							        	</div>
									      <div id="quotePlaceholder" onclick="focusQuoteInput()">“Quote”</div>									      
								        <div id="quoteSourceDiv">
								        	<span id="quoteSourceInput" contenteditable="true"></span>
							        	</div>
								        <input class="form-control" id="quoteTag" placeholder="#tags">
									    </form>
									  </div>
								  	<div class="modal-footer" id="newPostPanelFooter">
								  	  <button class="btn btn-default pull-left" data-dismiss="modal">Close</button>
								  	  <div class="btn-group">
								  	    <button class="btn btn-primary" data-dismiss="modal" onclick="addNewQuotePost()">Post</button>
								  	    <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
													<span class="caret"></span>
												</button>
								  	    <ul class="dropdown-menu" id="photoUploadPostDropDown">
								  	      <li><a href="">Post now</a></li>
								  	      <li><a href="">Add to queue</a></li>
								  	      <li><a href="">Save as draft</a></li>
								  	      <li><a href="">Post privately</a></li>
								  	      <li><a href="">Schedule</a></li>
								  	    </ul>
								  	  </div>
								  	</div>
									</div>
									
									<script>
									$("#modalFade").on("shown.bs.modal", function(){
								    $(this).find('#quoteInput').focus();
								  });
									</script> -->
									
									<div class="modal-content">
										<div class="panel-heading" id="newPostPanelHead">
									    <a class="panel-title" id="newPostPanelHeadTitle">groovypeacetimetravel</a>
									    <span class="glyphicon glyphicon-cog pull-right"></span>
									  </div>
									  <div class="modal-body" id="newPhotoPostModalBody">
									    <form role="form">
									      <div class="container-fluid">
									      	<input id="photoFileInput" type="file" accept="image/*" multiple="multiple" onchange="handlePhotoFiles(this.files)" />
									      	<div class="row" id="newPhotoUploadPanel">
														<div class="col-md-6" id="photoUploadColumn" onclick="$('#photoFileInput').click()">												       
														  <div><i class="material-icons" id="photoUploadIcon">add_a_photo</i></div>
														  <div><span id="photoUploadLabel">Upload photos</span></div>
														</div>
														<div class="col-md-6" id="photoWebColumn" onclick=photoUrlPanelDisplay()>
															<div><i class="glyphicon glyphicon-globe" id="photoWebIcon"></i></div>
														 	<div><span id="photoWebLabel">Add photo from web</span></div>
														</div>
													</div>	
													<div class="row" id="urlPhotoUploadPanel">
														<div class="col-md-12" id="urlPhotoUploadPanelDiv">
															<span class="close" id="urlPhotoUploadPanelClose">&times;</span>
														  <!--<input id="urlPhotoUploadInput" oninput="validatePhotoURL()" placeholder="Paste a URL"></input>-->
														  <textarea class="form-control" id="urlPhotoUploadInput" rows="1" data-min-rows="1" oninput="validatePhotoURL()" placeholder="Paste a URL"></textarea>
														</div>	
													</div>											
													<div class="row" id="newPhotoUploadThumbnail"></div>													
													<div class="row text-center" id="addAnotherPhotoButton" onclick="$('#photoFileInput').click()">
														<i class="material-icons" id="addAnotherPhotoIcon">add_a_photo</i>
														Add another
													</div>													
													<div class="row text-center" id="addAnotherPhotoFromWebButton" onclick=displayPhotoURLInput()>
														<i class="glyphicon glyphicon-globe" id="addAnotherPhotoFromWebIcon"></i>
														Add another
													</div>
													<div class="row text-center" id="addAnotherPhotoFromWebDiv">
														<input id="addAnotherPhotoFromWebInput" oninput="validateAnotherPhotoURL()" placeholder="Paste a URL"></input>
														<textarea class="form-control" id="addAnotherPhotoFromWebInput" rows="1" data-min-rows="1" oninput="validateAnotherPhotoURL()" placeholder="Paste a URL"></textarea>
													</div>													
													<div class="row text-center" id="addAgainAnotherPhotoFromWebButton" onclick=displayPhotoURLInput()>
														<i class="glyphicon glyphicon-globe" id="addAnotherPhotoFromWebIcon"></i>
														Add another
													</div>													
									        <textarea class="form-control" id="photoCaption" rows="1" data-min-rows="1" placeholder="Add a caption, if you like"></textarea>
									        <input class="form-control" id="photoTag" name="tags" placeholder="#tags" type="text" />
									      </div>
									    </form>
									  </div>
									  <div class="modal-footer" id="newPostPanelFooter">
									    <button class="btn btn-default pull-left" data-dismiss="modal">Close</button>
									    <div class="btn-group">
										    <button class="btn btn-primary" data-dismiss="modal" onclick="addNewPhotoPost()">Post</button>
										    <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
											    <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu" id="photoUploadPostDropDown">
											    <li><a href="">Post now</a></li>
											    <li><a href="">Add to queue</a></li>
											    <li><a href="">Save as draft</a></li>
											    <li><a href="">Post privately</a></li>
											    <li><a href="">Schedule</a></li>
											  </ul>
											</div>
									  </div>
									</div>
			          </div>
			        </div>
			        <!-- new posts buttons modal end-->
			        
			      <!-- </div> -->
	      	</div>
	      </div>
	    </div>
	    <!-- container for new posts buttons end -->
	    
	    <!-- container to hold posts -->
	    <div class="container-fluid" id="containerHoldPosts">
	    	<div class="row">
	    		<div class="col-sm-1"></div>
	      	<div class="col-sm-7" id="postColumn">
					  
					  <!-- photo test start -->
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <a class="panel-title">groovypeacetimetravel</a>
						  </div>
						  <div class="photo-panel-body">
						    <img class="img-responsive" id="imgResponsive" src="assets/images/Caution-Border-02--Arvin61r58.png" alt="">
						  </div>
						  <div class="panel-body">
						    Test image<br><br>
						    <a>#test image</a>
						  </div>
						  <div class="panel-footer">
						  	<div class="dropdown">
							    <a href=""><span class="glyphicon glyphicon-send" title="Share"></span></a>
							    <a href=""><span class="glyphicon glyphicon-retweet" title="Reblog"></span></a>
							    <span class="glyphicon glyphicon-cog dropdown-toggle" data-toggle="dropdown" title="Options"></span>
							    <ul class="dropdown-menu dropdown-menu-right">
							      <li><a href="">Edit</a></li>
							      <li><a href="">Delete</a></li>
							    </ul>		
								</div>					    
						  </div>
					  </div>
					  <!-- photo test end -->
						
						<!-- quote test start-->
						<div class="panel panel-default">
							<div class="panel-heading">
						    <a class="panel-title">groovypeacetimetravel</a>
						  </div>
						  <div class="panel-body" id="quotePostBody">
								<blockquote>
								  <p>Test Quote</p>
								  <footer>Testing Source</footer>
								</blockquote>							    
						    <a>#test tag</a>
						  </div>
						  <div class="panel-footer">
						  	<div class="dropdown">
							    <a href=""><span class="glyphicon glyphicon-send" title="Share"></span></a>
							    <a href=""><span class="glyphicon glyphicon-retweet" title="Reblog"></span></a>
							    <span class="glyphicon glyphicon-cog dropdown-toggle" data-toggle="dropdown" title="Options"></span>
							    <ul class="dropdown-menu dropdown-menu-right">
							      <li><a href="">Edit</a></li>
							      <li><a href="">Delete</a></li>
							    </ul>		
								</div>					    
						  </div>
					  </div>
					  <!-- quote test end -->
	      	
	      		<!-- text test start -->
						<div class="panel panel-default">
							<div class="panel-heading">
						    <a class="panel-title">groovypeacetimetravel</a>
						  </div>
						  <div class="panel-heading">
						    <h1 class="panel-title">Test2</h1>
						  </div>
						  <div class="panel-body">
						    Text2<br><br>
						    <a>#test2</a>
						  </div>
						  <div class="panel-footer">
						  	<div class="dropdown">
							    <a href=""><span class="glyphicon glyphicon-send" title="Share"></span></a>
							    <a href=""><span class="glyphicon glyphicon-retweet" title="Reblog"></span></a>
							    <span class="glyphicon glyphicon-cog dropdown-toggle" data-toggle="dropdown" title="Options"></span>
							    <ul class="dropdown-menu dropdown-menu-right">
							      <li><a href="">Edit</a></li>
							      <li><a href="">Delete</a></li>
							    </ul>		
								</div>					    
						  </div>
					  </div>
					  <!-- text test end -->
					  
	      	</div>
	      </div>    
	    </div>
	    <!-- container to hold posts end -->
	    
	  </body>
	</html>
}